<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Update Province</h1>
    <h2 th:if="${mess} != null" th:text="${mess}"></h2>
    <form method="post" th:object="${province}" enctype="multipart/form-data">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <td><label><input type="text" th:field="*{name}"></label></td>
            </tr>
            <tr>
                <th>Popular</th>
                <td><label><input type="text" th:field="*{popular}"></label></td>
            </tr>
            <tr>
                <th>Area</th>
                <td><label><input type="text" th:field="*{area}"></label></td>
            </tr>
            <tr>
                <th>GDP</th>
                <td><label><input type="text" th:field="*{gdp}"></label></td>
            </tr>
            <tr>
                <th>Image</th>
                <td><label><input type="file" th:field="*{image}"></label>
                <img width="100px" height="100px" th:src="@{'../image/' + ${province.getImageUrl()}}" alt="Fail"/>
                </td>
            </tr>
            <tr>
                <th>Country</th>
                <td>
                    <label>
                        <select th:field ="*{country}">
                            <option th:each="c : ${countries}" th:value="${c.getId()}"
                                    th:text="${c.getName()}"></option>
                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn btn-warning" type="submit"><span>Update</span></button>
                </td>
            </tr>
        </table>
    </form>
    <button class="btn btn-primary"><a href="/province/detail/{id}">Back to Detail</a></button>
</div>
</body>
</html>